body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

/* Header styles */
header {
    background-color: white;
    color: black;
    padding: 1.5em 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

/* Main content styles */
main {
    padding: 20px;
    margin: 0 auto 20px;
    max-width: 1200px;
    text-align: center;
}

/* Intro banner styles */
.intro_banner {
    display: flex; /* Make this a flex container */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    gap: 20px; /* Add some space between the items */
    position: relative;
}

.intro_banner .image_box {
    flex: 1; /* Make image box take up equal space */
    display: flex; /* Make image box a flex container */
    justify-content: flex-end; /* Align the image box to the right */
    align-items: center; /* Ensure image stretches to match height */
}

.intro_banner .image_box img {
    max-width: 50%; /* Set a maximum width for the image */
    height: auto; /* Allow image to adjust height proportionally */
    transform: translateX(50%); /* Move the image left by 50% of its width */
}

.intro_banner .presentation {
    flex: 1; /* Make presentation take up equal space */
    text-align: left;
}

.name {
    font-size: 1.6em; /* Added 'em' to make it valid */
}

.title {
    font-size: 2.8em; /* Added 'em' to make it valid */
}

.description {
    font-size: 1.2em; /* Added 'em' to make it valid */
}

.study_title {
    font-size: 3em;
    text-align: center;
}

.question {
    font-size: 2em;
    text-align: left;
}

.overview {
    font-size: 1.6em;
    text-align: left;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.buttons a:hover {
    background-color: #45a049;
    color: white;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    .intro_banner {
        flex-direction: column; /* Stack the image and presentation vertically */
    }

    .intro_banner .image_box {
        justify-content: center; /* Center the image for smaller screens */
    }

    .intro_banner .image_box img {
        transform: translateX(0); /* Reset transform for smaller screens */
    }

    .profile-picture .image_box img {
        margin-left: 0; /* Adjusted to 0 to center the image */
    }

    .name .intro {
        margin-left: 0; /* Adjusted to 0 to center the content */
    }
}
