body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

/* Header styles */
header {
    background-color: white;
    color: black;
    padding: 1.5em 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

/* Main content styles */
main {
    padding: 20px;
    margin: 0 auto 20px;
    max-width: 1200px;
}

/* Intro banner styles */
.intro_banner {
    display: flex; /* Make this a flex container */
    align-items: stretch; /* Ensure children stretch to same height */
    gap: 20px; /* Add some space between the items */
}

.intro_banner .image_box {
    flex: 1; /* Make image box take up equal space */
    display: flex; /* Make image box a flex container */
    align-items: stretch; /* Ensure image stretches to match height */
}

.intro_banner .image_box img {
    width: 100%; /* Ensure image fills the entire width of image box */
    height: auto; /* Allow image to adjust height proportionally */
    object-fit: cover; /* Ensure the image covers the entire area */
    margin-left: 20px; /* Shift the image 20px to the right */
}

.intro_banner .presentation {
    flex: 2; /* Make presentation take up more space if needed */
}

.name {
    font-size: 1.6em; /* Added 'em' to make it valid */
}

.title {
    font-size: 2.8em; /* Added 'em' to make it valid */
}

.description {
    font-size: 1.2em; /* Added 'em' to make it valid */
}

.study_title {
    font-size: 3em;
    text-align: center;
}

.question {
    font-size: 2em;
    text-align: left;
}

.overview {
    font-size: 1.6em;
    text-align: left;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.buttons a:hover {
    background-color: #45a049;
    color: white;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    .intro_banner {
        flex-direction: column; /* Stack the image and presentation vertically */
    }

    .profile-picture .image_box img {
        margin-left: 0; /* Adjusted to 0 to center the image */
    }

    .name .intro {
        margin-left: 0; /* Adjusted to 0 to center the content */
    }
}
