body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

/* Header styles */
header {
    background-color: white;
    color: black;
    padding: 1.5em 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

/* Main content styles */
main {
    margin: 0 auto 20px;
    max-width: 1200px;
    text-align: center;
}

/* Intro banner styles */
.intro_banner {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    justify-content: space-between; /* Space between elements */
    margin-bottom: 40px;
    position: relative; /* Relative positioning for absolute child */
    padding-bottom: 80px; /* Padding to accommodate buttons at the bottom */
}

.intro_banner .image_box,
.intro_banner .presentation {
    width: 50%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.intro_banner .image_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.intro_banner .image_box img {
    max-width: 91%; /* Adjust this value to make the picture smaller */
    height: auto;
}

.intro_banner .presentation {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 60px;
}

/* Buttons container */
.buttons {
    display: flex;
    justify-content: center;
    position: absolute; /* Absolute positioning */
    bottom: 20px; /* Position at the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center alignment correction */
    width: 100%; /* Full width to ensure center alignment */
    margin: 10px 25px;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.buttons a:hover {
    background-color: #FFE268;
    color: black;
    cursor: pointer;
}

/* Text styles */
.name {
    font-size: 1.6em;
    margin-bottom: 0px; /* Adjust the value as needed */
}

/*.title {
    font-size: 1.6em;
    margin-bottom: 0px; /* Adjust the value as needed */
/*}*/

.description {
    font-size: 1.2em;
    margin-bottom: 10px; /* Adjust the value as needed */
}

/* Portfolio section styles */
.portfolio {
    display: flex;
    align-items: center;
    text-align: left; /* Default text alignment for all elements inside */
    padding-bottom: 30px;
}

.study_title {
    color: #737373;
    width: calc(40% - 50px); /* Adjusted width to account for the margin */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    font-size: 2em;
    text-align: center;
    margin-right: 50px; /* Add margin to create a gap */
    margin-bottom: 0; /* Remove space between title and question */
}

.question {
    width: 60%; /* Adjusted width */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the container */
    padding-left: 20px; /* Adjust padding as needed */
}

.question .link {
    font-weight: bold;
    font-size: 1.2em;
}

.overview {
    font-size: 0.9em;
    margin-top: 10px; /* Space between question and overview */
    text-align: left; /* Ensure text is left-aligned */
}

/* Responsive styles */
@media (max-width: 768px) {
    .intro_banner {
        flex-direction: column;
        text-align: center;
    }

    .intro_banner .image_box,
    .intro_banner .presentation {
        width: 100%;
        text-align: center;
    }

    .intro_banner .presentation {
        text-align: center;
    }

    .portfolio {
        flex-direction: column;
    }

    .study_title,
    .question {
        width: 100%;
        text-align: center;
    }

    .question {
        align-items: center;
        padding-left: 0;
    }

    .question .link,
    .overview {
        text-align: center;
    }

    .buttons {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
    }
}
